@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "blox";
  src: url("/blox.ttf")
}

@font-face {
  font-family: "heming";
  src: url("/Heming Variable.ttf")
}

@font-face {
  font-family: "poppins";
  src: url("/Poppins-Regular.ttf")
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#slash {
  transform: skew(40deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-320px * 25));
  }
}

.scrolling-wrapper {
  display: flex;
  animation: scroll 60s linear infinite;
  width: calc((300px + 20px) * 25 * 2);
  /* Adjust the width to fit all images (25 original images * 2 for duplication), include gap */
  gap: 20px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px;
  margin: 0;
}

@keyframes wiggle-one {
  0% {
    rotate: -5deg;
  }

  50% {
    rotate: 5deg;
  }

  100% {
    rotate: -5deg;
  }
}

.wiggle-one-button {
  animation: wiggle-one 2s linear infinite;
}

@keyframes wiggle-two {
  0% {
    rotate: -10deg;
  }

  50% {
    rotate: 10deg;
  }

  100% {
    rotate: -10deg;
  }
}

.wiggle-two-button {
  animation: wiggle-two 5s linear infinite;
}

@keyframes wiggle-three {
  0% {
    rotate: -3deg;
  }

  50% {
    rotate: 5deg;
  }

  100% {
    rotate: -3deg;
  }
}

.wiggle-three-button {
  animation: wiggle-three 1s linear infinite;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}