@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "blox";
  src: url("/blox.ttf")
}

@font-face {
  font-family: "heming";
  src: url("/Heming Variable.ttf")
}

@font-face {
  font-family: "poppins";
  src: url("/Poppins-Regular.ttf")
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#slash {
  transform: skew(40deg);
}

 @keyframes scroll {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-100%);
   }
 }

 .scrolling-wrapper {
   display: flex;
   animation: scroll 4s linear infinite;
 }

 .carousel-item {
   flex: 0 0 20%;
 }